tr > th {
    border: 1px solid black;
}

tr td {
    border: 1px solid black;
}

.noborder {
    border: 0;
}

.center {
	text-align: center;
}


.cell-namecode {
	width: 70px;
	word-break: break-all;
}

.hide {
	display: none;
}