.navbar {
	height : 52px;
    border-radius: 0;
    background-color: #438EB9 !important;
    border-color: #438EB9 !important;;
    color: black !important;
}
	.navbar a {
		color: #FFF !important;
		font-weight: bold;
	}

.dropdown-menu {
    background-color: #438EB9 !important;
    
} 	